
nav a{
  margin-right: 20px;

}
h1 {
    background-color: black;
    text-align: center;
    color: salmon;
    font-family: 'Righteous';
    font-size: xxx-large;
    padding:30px;
}

nav{
  background-color: salmon;
  font-size: large;
  padding:15px;
}

h2 {
  color: black;
  font-family: 'Righteous';
  font-size: xx-large;
  padding-left: 50px;
}

ul {
  color: grey;
  margin-left: 70px;
  margin-bottom: 20px;
  font-size: larger;
}

footer{
  background-color: lightgray;
  text-align: center;
  padding: 50px;
  font-size: larger;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div{
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

table *{
  border: 1px solid black;
  padding: 1em;
}

table th{
  background-color: salmon;
}

.container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

#submit {
  margin-top: 40px;
  border: 1px solid black;
  padding: 20px;
  font-size: large;

}

.table {
  font-size: large;
  margin-top: 60px;
  margin-bottom: 60px;
}

#time {
  background-color: grey;
  color: aliceblue;

}

tr :last-child{
  background-color: grey;
  color: aliceblue;
}

tfoot {
  background-color: grey;
  color: aliceblue;
}

tbody {
  background-color: salmon;
}










